.form {
  width: 700px;
  background: linear-gradient(45deg, transparent 49%, #040319 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #040319 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #263269;
  opacity: 0.7
}